/* Estilo general para el Navbar */
.navbar-banner.down {
  background-color: rgba(41, 37, 34, 0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-image {
  transition: width 0.3s ease, height 0.3s ease; 
}

.navbar-image.shrink {
  width: 3.5rem; 
  height: 3.5rem;
}

.navbar-banner {
  position: relative;
  background-color: transparent;
  transition: background-color 0.5s ease, box-shadow 0.3s ease;
  padding: 1rem 2rem;
  align-items: center;
}

button.navbar-toggler {
  background-color: transparent;
  display: flex;
  align-items: start;
}

.navbar-toggler {
  border-color: transparent !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("/menu.png") !important;
}

.navbar-nav .nav-link {
  font-size: 3rem;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  transition: color 0.5s ease;
  align-items: center;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}

.navbar-nav .nav-link:hover {
  color: #ED3237;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #BF341F !important;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Navbar en pantallas pequeñas (responsive) */
@media (max-width: 992px) {
  .navbar {
    padding: 0.8rem 1.5rem;
    background-color: #292522;
  }

  button.navbar-toggler {
    margin-left: 15%;
  }

  .navbar-image {
    position: absolute;
    right: 20%;
    top: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
    transition: none;
  }

  .navbar-nav {
    justify-content: center;
  }

  .navbar-nav .nav-link {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 2px;
  }
}
/* Estilos en pantallas medianas y grandes */
@media (min-width: 992px) {
  .fixed-top {
    position: fixed;
  }
  #navbarright {
    display: flex;
    justify-content: start;
    position: absolute;
    left: 1rem;
  }

  #navbarleft {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 1rem;
  }

  .navbar-nav .nav-link {
    font-size: 1.5rem;
  }

  .navbar-image {
    position: static;
    width: 5rem;
    height: 5rem;
  }
}
@media (min-width: 1200px) {
  #navbarright {
    display: flex;
    justify-content: start;
    position: absolute;
    left: 1rem;
  }

  #navbarleft {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 1rem;
  }

  .navbar-nav .nav-link {
    font-size: 2rem;
  }

  .navbar-image {
    width: 8rem;
    height: 8rem;
  }
}

@media (min-width: 2400px) {
  #navbarright {
    display: flex;
    justify-content: start;
    position: absolute;
    left: 3rem;
  }

  #navbarleft {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 3rem;
  }

  .navbar-nav .nav-link {
    font-size: 3rem;
    letter-spacing: 5px;
  }

  .navbar-image {
    width: 12rem;
    height: 12rem;
  }
}
