/* Estilo general para el Navbar */
.navbar {
    background-color: #f8f9fa; 
    padding: 1rem 2rem; 
  }
  
  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #343a40;
    transition: color 0.3s ease;
  }
  .navbar-image {
    width: 6rem;
    height: 6rem;
  }
  
  .navbar-brand:hover {
    color: #b91e1e;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #343a40;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    color:#b91e1e; 
    transform: translateY(-2px); 
  }
  
  /* Navbar en pantallas pequeñas (responsive) */
  @media (max-width: 991px) {
    .navbar {
      padding: 0.8rem 1.5rem;
    }
  
    .navbar-nav .nav-link {
      font-size: 1.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  